<?xml version="1.0" encoding="utf-8"?>
<Media Key="0cdfa0d5-76aa-4833-a078-9578730995d4" Alias="aaron.svg" Level="2">
  <Info>
    <Parent Key="0c95e1e2-fa89-42a0-b097-80bdeb0d12ca">team</Parent>
    <Path>/team/aaronsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T15:59:28</CreateDate>
    <NodeName Default="aaron.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/e2oh11vr/aaron.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>