<?xml version="1.0" encoding="utf-8"?>
<Media Key="02e4f23e-d7db-405d-8e59-d8a209fc8e73" Alias="About Us" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-24T17:15:07</CreateDate>
    <NodeName Default="About Us" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>