<?xml version="1.0" encoding="utf-8"?>
<Media Key="2a121e9c-f873-4cf5-9ed8-24390e03f4a9" Alias="aj.svg" Level="2">
  <Info>
    <Parent Key="0c95e1e2-fa89-42a0-b097-80bdeb0d12ca">team</Parent>
    <Path>/team/ajsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T15:59:28</CreateDate>
    <NodeName Default="aj.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/n0rlbsdi/aj.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>