<?xml version="1.0" encoding="utf-8"?>
<Media Key="ea0b5e0b-dd38-4422-b022-55272ac3f86f" Alias="brands" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/brands</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-30T13:50:10</CreateDate>
    <NodeName Default="brands" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>