<?xml version="1.0" encoding="utf-8"?>
<Media Key="e217c7ed-a3d3-480d-99ca-659ee4430405" Alias="brandon.svg" Level="2">
  <Info>
    <Parent Key="0c95e1e2-fa89-42a0-b097-80bdeb0d12ca">team</Parent>
    <Path>/team/brandonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T15:59:28</CreateDate>
    <NodeName Default="brandon.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/d33lkagi/brandon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>