<?xml version="1.0" encoding="utf-8"?>
<Media Key="d6af4cb3-e693-4b69-a5d0-8d341baf977f" Alias="contact_Filler.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/contact_Fillersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T10:59:30</CreateDate>
    <NodeName Default="contact_Filler.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ihyb0nei/contact_filler.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>