<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6a52bc2-4008-4893-a8f7-56df89359c88" Alias="facebook.svg" Level="2">
  <Info>
    <Parent Key="1c40ce60-d5d9-431e-92e7-e9b770584f24">socials</Parent>
    <Path>/socials/facebooksvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T09:28:05</CreateDate>
    <NodeName Default="facebook.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gclaovat/facebook.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>