<?xml version="1.0" encoding="utf-8"?>
<Media Key="c598e99b-6e73-4ddf-9013-b3ff6a6b8091" Alias="group_trust.svg" Level="2">
  <Info>
    <Parent Key="a036741c-6713-46cc-ac0b-795d2662ca9b">Trusted</Parent>
    <Path>/Trusted/group_trustsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T09:33:13</CreateDate>
    <NodeName Default="group_trust.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nfkduj1i/group_trust.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>