<?xml version="1.0" encoding="utf-8"?>
<Media Key="434f1b81-de85-4c51-ab5c-ae49e6d5df48" Alias="hero" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/hero</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T08:54:26</CreateDate>
    <NodeName Default="hero" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ooto1im4/hero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>