<?xml version="1.0" encoding="utf-8"?>
<Media Key="870220fe-93e8-44d4-ae42-e766f81e95eb" Alias="kevin.svg" Level="2">
  <Info>
    <Parent Key="0c95e1e2-fa89-42a0-b097-80bdeb0d12ca">team</Parent>
    <Path>/team/kevinsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T15:59:28</CreateDate>
    <NodeName Default="kevin.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bsolazpt/kevin.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>