<?xml version="1.0" encoding="utf-8"?>
<Media Key="41a21ba9-e8e9-4cdd-affc-48a9df44f9f0" Alias="linkedin.svg" Level="2">
  <Info>
    <Parent Key="1c40ce60-d5d9-431e-92e7-e9b770584f24">socials</Parent>
    <Path>/socials/linkedinsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T09:30:03</CreateDate>
    <NodeName Default="linkedin.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lotabi5s/linkedin.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>