<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b1d3b68-5023-4bcf-9d2f-7efcaa001770" Alias="logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T10:48:33</CreateDate>
    <NodeName Default="logo" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tkdl5gjy/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>