<?xml version="1.0" encoding="utf-8"?>
<Media Key="93a57311-cb2c-4fe3-a482-fca45f8d61a8" Alias="meting.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/metingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T09:45:56</CreateDate>
    <NodeName Default="meting.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2phao2jx/meting.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>