<?xml version="1.0" encoding="utf-8"?>
<Media Key="264b4670-6a88-440f-b71e-47e87a12577a" Alias="miranda.svg" Level="2">
  <Info>
    <Parent Key="0c95e1e2-fa89-42a0-b097-80bdeb0d12ca">team</Parent>
    <Path>/team/mirandasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T15:59:29</CreateDate>
    <NodeName Default="miranda.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ql3ptret/miranda.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>