<?xml version="1.0" encoding="utf-8"?>
<Media Key="ce59d7d7-dbb0-4dca-9852-0b708e7eca8b" Alias="partner5.svg" Level="2">
  <Info>
    <Parent Key="ea0b5e0b-dd38-4422-b022-55272ac3f86f">brands</Parent>
    <Path>/brands/partner5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T13:50:24</CreateDate>
    <NodeName Default="partner5.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/evvpwlfl/partner5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>