<?xml version="1.0" encoding="utf-8"?>
<Media Key="1685c715-5655-43fa-b92a-bdb7c52db9f1" Alias="partner1.svg" Level="2">
  <Info>
    <Parent Key="ea0b5e0b-dd38-4422-b022-55272ac3f86f">brands</Parent>
    <Path>/brands/partner1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T13:50:24</CreateDate>
    <NodeName Default="partner1.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/233cp3co/partner1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>