<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee2d5e5f-3064-46dc-95ce-72a7554b54f6" Alias="partner3.svg" Level="2">
  <Info>
    <Parent Key="ea0b5e0b-dd38-4422-b022-55272ac3f86f">brands</Parent>
    <Path>/brands/partner3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T13:50:24</CreateDate>
    <NodeName Default="partner3.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vxrj4dd5/partner3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>