<?xml version="1.0" encoding="utf-8"?>
<Media Key="70c82ff1-6950-4267-8cab-ecbd44673ce5" Alias="partner6.svg" Level="2">
  <Info>
    <Parent Key="ea0b5e0b-dd38-4422-b022-55272ac3f86f">brands</Parent>
    <Path>/brands/partner6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T13:50:24</CreateDate>
    <NodeName Default="partner6.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/aojgvesl/partner6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>