<?xml version="1.0" encoding="utf-8"?>
<Media Key="377ac854-d816-46d5-bc8d-10d82ea34c83" Alias="partner4.svg" Level="2">
  <Info>
    <Parent Key="ea0b5e0b-dd38-4422-b022-55272ac3f86f">brands</Parent>
    <Path>/brands/partner4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T13:50:24</CreateDate>
    <NodeName Default="partner4.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uz0nrvin/partner4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>