<?xml version="1.0" encoding="utf-8"?>
<Media Key="046992be-6054-44c6-bd7a-45e3c1ebf6d6" Alias="partner2.svg" Level="2">
  <Info>
    <Parent Key="ea0b5e0b-dd38-4422-b022-55272ac3f86f">brands</Parent>
    <Path>/brands/partner2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T13:50:24</CreateDate>
    <NodeName Default="partner2.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jqxnxzsp/partner2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>