<?xml version="1.0" encoding="utf-8"?>
<Media Key="d4c77d99-05f7-41c7-a76d-4330ad59892d" Alias="reviwe-img.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/reviweImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T14:03:13</CreateDate>
    <NodeName Default="reviwe-img.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/npagknxm/reviwe-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>