<?xml version="1.0" encoding="utf-8"?>
<Media Key="981b1ee2-6782-41b9-91f4-696a309f5783" Alias="service_bonds.svg" Level="2">
  <Info>
    <Parent Key="b8ecd7f0-33c7-4806-8657-ba36c83605e5">Services</Parent>
    <Path>/Services/service_bondssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T08:51:09</CreateDate>
    <NodeName Default="service_bonds.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ccrls4uz/service_bonds.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>