<?xml version="1.0" encoding="utf-8"?>
<Media Key="430f1e9e-4fb2-4645-af4c-c2da6a277ead" Alias="service_risk.svg" Level="2">
  <Info>
    <Parent Key="b8ecd7f0-33c7-4806-8657-ba36c83605e5">Services</Parent>
    <Path>/Services/service_risksvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T08:51:09</CreateDate>
    <NodeName Default="service_risk.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nsrl1inj/service_risk.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>