<?xml version="1.0" encoding="utf-8"?>
<Media Key="5cd2a3bf-2517-4948-9a13-d9f6fed1ddfb" Alias="service_statistic.svg" Level="2">
  <Info>
    <Parent Key="b8ecd7f0-33c7-4806-8657-ba36c83605e5">Services</Parent>
    <Path>/Services/service_statisticsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T08:51:09</CreateDate>
    <NodeName Default="service_statistic.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/juphbpqm/service_statistic.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>