<?xml version="1.0" encoding="utf-8"?>
<Media Key="2378e0c4-fbc3-48b9-9567-a3dc7d15b44a" Alias="service_financial.svg" Level="2">
  <Info>
    <Parent Key="b8ecd7f0-33c7-4806-8657-ba36c83605e5">Services</Parent>
    <Path>/Services/service_financialsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T08:51:09</CreateDate>
    <NodeName Default="service_financial.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gzonvqoy/service_financial.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>