<?xml version="1.0" encoding="utf-8"?>
<Media Key="17ca97ac-a078-48c1-a469-35d4833a2f6e" Alias="service_assurance.svg" Level="2">
  <Info>
    <Parent Key="b8ecd7f0-33c7-4806-8657-ba36c83605e5">Services</Parent>
    <Path>/Services/service_assurancesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T08:51:09</CreateDate>
    <NodeName Default="service_assurance.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lyvgr3ld/service_assurance.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>