<?xml version="1.0" encoding="utf-8"?>
<Media Key="134f408b-9fac-469b-aa5f-6494ae006e79" Alias="service_tax.svg" Level="2">
  <Info>
    <Parent Key="b8ecd7f0-33c7-4806-8657-ba36c83605e5">Services</Parent>
    <Path>/Services/service_taxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T08:51:09</CreateDate>
    <NodeName Default="service_tax.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ph4p12nx/service_tax.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>