<?xml version="1.0" encoding="utf-8"?>
<Media Key="b8ecd7f0-33c7-4806-8657-ba36c83605e5" Alias="Services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-28T08:29:20</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>