<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c40ce60-d5d9-431e-92e7-e9b770584f24" Alias="socials" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/socials</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-27T09:27:48</CreateDate>
    <NodeName Default="socials" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>