<?xml version="1.0" encoding="utf-8"?>
<Media Key="b82dcff2-4e81-423b-b18f-ac04ea408850" Alias="successBg.svg" Level="2">
  <Info>
    <Parent Key="e095308c-4357-4120-b65c-5d2189b43223">Backgrounds</Parent>
    <Path>/Backgrounds/successBgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T13:23:23</CreateDate>
    <NodeName Default="successBg.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/abzi4wu0/successbg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>