<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b901e8d-8f22-40a9-89c5-5a7e74f0fb56" Alias="success_story.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/success_storysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T13:17:41</CreateDate>
    <NodeName Default="success_story.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/p4rdfkjz/success_story.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>