<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c95e1e2-fa89-42a0-b097-80bdeb0d12ca" Alias="team" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/team</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-30T15:59:21</CreateDate>
    <NodeName Default="team" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>