<?xml version="1.0" encoding="utf-8"?>
<Media Key="9dd16310-42fe-46dd-b84e-447157115006" Alias="tina.svg" Level="2">
  <Info>
    <Parent Key="0c95e1e2-fa89-42a0-b097-80bdeb0d12ca">team</Parent>
    <Path>/team/tinasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T15:59:29</CreateDate>
    <NodeName Default="tina.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2lphg55f/tina.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>