<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c5ed646-d09f-4c32-a29d-d42d55dd9102" Alias="tinafox.svg" Level="2">
  <Info>
    <Parent Key="02e4f23e-d7db-405d-8e59-d8a209fc8e73">About Us</Parent>
    <Path>/AboutUs/tinafoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T17:20:21</CreateDate>
    <NodeName Default="tinafox.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wrvpzhue/tinafox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>