<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b70a9da-c1fe-4f96-993d-ce341dc5a5a9" Alias="tinafox" Level="2">
  <Info>
    <Parent Key="02e4f23e-d7db-405d-8e59-d8a209fc8e73">About Us</Parent>
    <Path>/AboutUs/tinafox</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-24T17:17:17</CreateDate>
    <NodeName Default="tinafox" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fhajwk4z/tinafox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>