<?xml version="1.0" encoding="utf-8"?>
<Media Key="9baf101c-bc8d-4ab0-ae5c-453471222bc8" Alias="tinaSignature" Level="2">
  <Info>
    <Parent Key="02e4f23e-d7db-405d-8e59-d8a209fc8e73">About Us</Parent>
    <Path>/AboutUs/tinaSignature</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T10:20:47</CreateDate>
    <NodeName Default="tinaSignature" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/30wb04mw/tinasignature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>