<?xml version="1.0" encoding="utf-8"?>
<Media Key="a036741c-6713-46cc-ac0b-795d2662ca9b" Alias="Trusted" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Trusted</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-29T09:32:58</CreateDate>
    <NodeName Default="Trusted" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>