<?xml version="1.0" encoding="utf-8"?>
<Media Key="62bbb991-38ec-487f-b8ef-16f2d4f87292" Alias="trustedBg.svg" Level="2">
  <Info>
    <Parent Key="e095308c-4357-4120-b65c-5d2189b43223">Backgrounds</Parent>
    <Path>/Backgrounds/trustedBgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T09:33:41</CreateDate>
    <NodeName Default="trustedBg.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mmcbtahx/trustedbg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>