<?xml version="1.0" encoding="utf-8"?>
<Media Key="f2fe9c48-e1a5-40c7-8387-c5387a44be57" Alias="twitter.svg" Level="2">
  <Info>
    <Parent Key="1c40ce60-d5d9-431e-92e7-e9b770584f24">socials</Parent>
    <Path>/socials/twittersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T09:29:10</CreateDate>
    <NodeName Default="twitter.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xiqfyef4/twitter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>