@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ServiceDetails>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "defaultLayout.cshtml";
}


<section>
    <p>@Html.Raw(Model.ServiceDetailsRte)</p>
    @Html.GetBlockListHtml(Model.BlockEditor);
</section>