<?xml version="1.0" encoding="utf-8"?>
<Content Key="141457ce-a72c-4efc-96e3-735eadf14709" Alias="2025-11-06 00:11 :7670" Level="2">
  <Info>
    <Parent Key="24c1db3a-efe6-4bd6-91c0-1b565247b9d8">Support</Parent>
    <Path>/Support/</Path>
    <Trashed>false</Trashed>
    <ContentType>supportSubmission</ContentType>
    <CreateDate>2025-11-06T00:11:08</CreateDate>
    <NodeName Default="2025-11-06 00:11 :7670" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <supportSubmissionEmail>
      <Value><![CDATA[karl@okd.cojs]]></Value>
    </supportSubmissionEmail>
  </Properties>
</Content>