<?xml version="1.0" encoding="utf-8"?>
<Content Key="b76b81fc-455f-4bb3-9d9b-9fe3c6aa406e" Alias="2025-11-06 14:17 :fb1b" Level="2">
  <Info>
    <Parent Key="360ddf24-2617-4834-a75a-149e9055a629">Call Backs</Parent>
    <Path>/CallBacks/fb1b</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackSubmission</ContentType>
    <CreateDate>2025-11-06T14:17:10</CreateDate>
    <NodeName Default="2025-11-06 14:17 :fb1b" />
    <SortOrder>8</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackEmail>
      <Value><![CDATA[sista@test.com]]></Value>
    </callbackEmail>
    <callbackName>
      <Value><![CDATA[Sista Testet]]></Value>
    </callbackName>
    <callBackOption>
      <Value><![CDATA[Investment Planning]]></Value>
    </callBackOption>
    <callbackPhone>
      <Value><![CDATA[123456789]]></Value>
    </callbackPhone>
  </Properties>
</Content>