<?xml version="1.0" encoding="utf-8"?>
<Content Key="30bab373-8d91-48fd-b524-4b7ecd5daab3" Alias="2025-11-06 10:37 :82c8" Level="2">
  <Info>
    <Parent Key="360ddf24-2617-4834-a75a-149e9055a629">Call Backs</Parent>
    <Path>/CallBacks/c8</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackSubmission</ContentType>
    <CreateDate>2025-11-06T10:37:57</CreateDate>
    <NodeName Default="2025-11-06 10:37 :82c8" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackEmail>
      <Value><![CDATA[asdfasdf]]></Value>
    </callbackEmail>
    <callbackName>
      <Value><![CDATA[asdfsd]]></Value>
    </callbackName>
    <callBackOption>
      <Value><![CDATA[option3]]></Value>
    </callBackOption>
    <callbackPhone>
      <Value><![CDATA[sadfsdf]]></Value>
    </callbackPhone>
  </Properties>
</Content>