<?xml version="1.0" encoding="utf-8"?>
<Content Key="e03a618b-ed0c-4fca-b772-29bf26d1eca9" Alias="2025-11-05 16:56 :c09e" Level="2">
  <Info>
    <Parent Key="24c1db3a-efe6-4bd6-91c0-1b565247b9d8">Support</Parent>
    <Path>/Support/c09e</Path>
    <Trashed>false</Trashed>
    <ContentType>supportSubmission</ContentType>
    <CreateDate>2025-11-05T16:56:00</CreateDate>
    <NodeName Default="2025-11-05 16:56 :c09e" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <supportSubmissionEmail>
      <Value><![CDATA[hej@do.lll]]></Value>
    </supportSubmissionEmail>
  </Properties>
</Content>