<?xml version="1.0" encoding="utf-8"?>
<Content Key="950469a3-e717-4e8a-9db1-152b7c07396d" Alias="2025-11-06 01:30 :32c9" Level="2">
  <Info>
    <Parent Key="de123fc9-6102-46b1-8a08-e1438677769a">Questions</Parent>
    <Path>/Questions/c9</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSubmission</ContentType>
    <CreateDate>2025-11-06T01:30:47</CreateDate>
    <NodeName Default="2025-11-06 01:30 :32c9" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionSubmissionEmail>
      <Value><![CDATA[sista@domain.com]]></Value>
    </questionSubmissionEmail>
    <questionSubmissionName>
      <Value><![CDATA[Sista]]></Value>
    </questionSubmissionName>
    <questionSubmissionText>
      <Value><![CDATA[Sista för i natt kl är 1:30]]></Value>
    </questionSubmissionText>
  </Properties>
</Content>