<?xml version="1.0" encoding="utf-8"?>
<Content Key="e4217441-a633-4518-85ec-5917ef0bbddc" Alias="2025-11-11 13:51 :19d3" Level="2">
  <Info>
    <Parent Key="24c1db3a-efe6-4bd6-91c0-1b565247b9d8">Support</Parent>
    <Path>/Support/d3</Path>
    <Trashed>false</Trashed>
    <ContentType>supportSubmission</ContentType>
    <CreateDate>2025-11-11T13:51:30</CreateDate>
    <NodeName Default="2025-11-11 13:51 :19d3" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <supportSubmissionEmail>
      <Value><![CDATA[kalkon@domain.com]]></Value>
    </supportSubmissionEmail>
  </Properties>
</Content>