<?xml version="1.0" encoding="utf-8"?>
<Content Key="94657a94-f64f-4fd5-8063-a67fce9e4141" Alias="2025-11-11 13:56 :d1b7" Level="2">
  <Info>
    <Parent Key="24c1db3a-efe6-4bd6-91c0-1b565247b9d8">Support</Parent>
    <Path>/Support/d1b7</Path>
    <Trashed>false</Trashed>
    <ContentType>supportSubmission</ContentType>
    <CreateDate>2025-11-11T13:56:05</CreateDate>
    <NodeName Default="2025-11-11 13:56 :d1b7" />
    <SortOrder>7</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <supportSubmissionEmail>
      <Value><![CDATA[nukanske@domainm.com]]></Value>
    </supportSubmissionEmail>
  </Properties>
</Content>