<?xml version="1.0" encoding="utf-8"?>
<Content Key="a42f1e06-9e9f-4da0-b390-d85b1502f721" Alias="2025-11-13 22:58 :6240" Level="2">
  <Info>
    <Parent Key="24c1db3a-efe6-4bd6-91c0-1b565247b9d8">Support</Parent>
    <Path>/Support/</Path>
    <Trashed>false</Trashed>
    <ContentType>supportSubmission</ContentType>
    <CreateDate>2025-11-13T22:58:09</CreateDate>
    <NodeName Default="2025-11-13 22:58 :6240" />
    <SortOrder>15</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <supportSubmissionEmail>
      <Value><![CDATA[pew.andreas.k@gmail.com]]></Value>
    </supportSubmissionEmail>
  </Properties>
</Content>