<?xml version="1.0" encoding="utf-8"?>
<Content Key="e5939930-40d8-437a-ad0e-c6cf62157742" Alias="2025-11-05 15:55 :f8a1" Level="2">
  <Info>
    <Parent Key="24c1db3a-efe6-4bd6-91c0-1b565247b9d8">Support</Parent>
    <Path>/Support/f8a1</Path>
    <Trashed>false</Trashed>
    <ContentType>supportSubmission</ContentType>
    <CreateDate>2025-11-05T15:55:47</CreateDate>
    <NodeName Default="2025-11-05 15:55 :f8a1" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <supportSubmissionEmail>
      <Value><![CDATA[hej@do.com]]></Value>
    </supportSubmissionEmail>
  </Properties>
</Content>