<?xml version="1.0" encoding="utf-8"?>
<Content Key="74cbbacb-7048-41c1-831d-dbc48f9ba7fc" Alias="2025-11-06 11:06 :a44a" Level="2">
  <Info>
    <Parent Key="360ddf24-2617-4834-a75a-149e9055a629">Call Backs</Parent>
    <Path>/CallBacks/a44a</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackSubmission</ContentType>
    <CreateDate>2025-11-06T11:06:26</CreateDate>
    <NodeName Default="2025-11-06 11:06 :a44a" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackEmail>
      <Value><![CDATA[loo@domain.com]]></Value>
    </callbackEmail>
    <callbackName>
      <Value><![CDATA[Loop]]></Value>
    </callbackName>
    <callBackOption>
      <Value><![CDATA[Risk Management]]></Value>
    </callBackOption>
    <callbackPhone>
      <Value><![CDATA[876845942]]></Value>
    </callbackPhone>
  </Properties>
</Content>