<?xml version="1.0" encoding="utf-8"?>
<Content Key="be017914-ae37-45ec-ae2a-a64311d1459b" Alias="2025-11-06 13:45 :4d12" Level="2">
  <Info>
    <Parent Key="360ddf24-2617-4834-a75a-149e9055a629">Call Backs</Parent>
    <Path>/CallBacks/d12</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackSubmission</ContentType>
    <CreateDate>2025-11-06T13:45:04</CreateDate>
    <NodeName Default="2025-11-06 13:45 :4d12" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackEmail>
      <Value><![CDATA[assna@domain.com]]></Value>
    </callbackEmail>
    <callbackName>
      <Value><![CDATA[Åssna]]></Value>
    </callbackName>
    <callBackOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </callBackOption>
    <callbackPhone>
      <Value><![CDATA[123456789]]></Value>
    </callbackPhone>
  </Properties>
</Content>