<?xml version="1.0" encoding="utf-8"?>
<Content Key="6defe1ff-63b0-4e9d-b2ee-74b05e01cf40" Alias="2025-11-12 17:15 :54a4" Level="2">
  <Info>
    <Parent Key="24c1db3a-efe6-4bd6-91c0-1b565247b9d8">Support</Parent>
    <Path>/Support/a4</Path>
    <Trashed>false</Trashed>
    <ContentType>supportSubmission</ContentType>
    <CreateDate>2025-11-12T17:15:07</CreateDate>
    <NodeName Default="2025-11-12 17:15 :54a4" />
    <SortOrder>11</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <supportSubmissionEmail>
      <Value><![CDATA[pew.andreas.k@gmail.com]]></Value>
    </supportSubmissionEmail>
  </Properties>
</Content>