<?xml version="1.0" encoding="utf-8"?>
<Content Key="72b7b318-8bca-4f42-8273-5a56e069639f" Alias="2025-11-11 13:19 :2e62" Level="2">
  <Info>
    <Parent Key="de123fc9-6102-46b1-8a08-e1438677769a">Questions</Parent>
    <Path>/Questions/e62</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSubmission</ContentType>
    <CreateDate>2025-11-11T13:19:28</CreateDate>
    <NodeName Default="2025-11-11 13:19 :2e62" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionSubmissionEmail>
      <Value><![CDATA[ko@ko.cko]]></Value>
    </questionSubmissionEmail>
    <questionSubmissionName>
      <Value><![CDATA[hej]]></Value>
    </questionSubmissionName>
    <questionSubmissionText>
      <Value><![CDATA[hskaksksksk]]></Value>
    </questionSubmissionText>
  </Properties>
</Content>