<?xml version="1.0" encoding="utf-8"?>
<Content Key="38646878-6ccf-4319-8afd-6c7b2605762d" Alias="2025-11-06 01:35 :aa56" Level="2">
  <Info>
    <Parent Key="de123fc9-6102-46b1-8a08-e1438677769a">Questions</Parent>
    <Path>/Questions/aa56</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSubmission</ContentType>
    <CreateDate>2025-11-06T01:35:19</CreateDate>
    <NodeName Default="2025-11-06 01:35 :aa56" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionSubmissionEmail>
      <Value><![CDATA[prova@dom.com]]></Value>
    </questionSubmissionEmail>
    <questionSubmissionName>
      <Value><![CDATA[prova]]></Value>
    </questionSubmissionName>
    <questionSubmissionText>
      <Value><![CDATA[Här händer det saker]]></Value>
    </questionSubmissionText>
  </Properties>
</Content>