<?xml version="1.0" encoding="utf-8"?>
<Content Key="bf75795c-925d-4721-861e-b9e2652c6620" Alias="2025-11-05 16:07 :7990" Level="2">
  <Info>
    <Parent Key="de123fc9-6102-46b1-8a08-e1438677769a">Questions</Parent>
    <Path>/Questions/</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSubmission</ContentType>
    <CreateDate>2025-11-05T16:07:56</CreateDate>
    <NodeName Default="2025-11-05 16:07 :7990" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionSubmissionEmail>
      <Value><![CDATA[bengt@domain.com]]></Value>
    </questionSubmissionEmail>
    <questionSubmissionName>
      <Value><![CDATA[Bengt]]></Value>
    </questionSubmissionName>
    <questionSubmissionText>
      <Value><![CDATA[Min fråga lyder Min fråga lyder Min fråga lyder Min fråga lyder Min fråga lyder Min fråga lyder Min fråga lyder ]]></Value>
    </questionSubmissionText>
  </Properties>
</Content>