<?xml version="1.0" encoding="utf-8"?>
<Content Key="03216f39-71d8-489b-9272-2002fdbbf11d" Alias="2025-11-05 15:57 :f9df" Level="2">
  <Info>
    <Parent Key="24c1db3a-efe6-4bd6-91c0-1b565247b9d8">Support</Parent>
    <Path>/Support/f9df</Path>
    <Trashed>false</Trashed>
    <ContentType>supportSubmission</ContentType>
    <CreateDate>2025-11-05T15:57:18</CreateDate>
    <NodeName Default="2025-11-05 15:57 :f9df" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <supportSubmissionEmail>
      <Value><![CDATA[kalle@domian.com]]></Value>
    </supportSubmissionEmail>
  </Properties>
</Content>