<?xml version="1.0" encoding="utf-8"?>
<Content Key="03587722-63b7-4c0f-ac6a-9bac30683703" Alias="2025-11-11 14:00 :c9b5" Level="2">
  <Info>
    <Parent Key="24c1db3a-efe6-4bd6-91c0-1b565247b9d8">Support</Parent>
    <Path>/Support/c9b5</Path>
    <Trashed>false</Trashed>
    <ContentType>supportSubmission</ContentType>
    <CreateDate>2025-11-11T14:00:05</CreateDate>
    <NodeName Default="2025-11-11 14:00 :c9b5" />
    <SortOrder>9</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <supportSubmissionEmail>
      <Value><![CDATA[lkajsdf@laskdj.com]]></Value>
    </supportSubmissionEmail>
  </Properties>
</Content>