<?xml version="1.0" encoding="utf-8"?>
<Content Key="065e8b47-0e8c-48cd-a2d2-58b939baba5d" Alias="2025-11-06 12:21 :0855" Level="2">
  <Info>
    <Parent Key="360ddf24-2617-4834-a75a-149e9055a629">Call Backs</Parent>
    <Path>/CallBacks/</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackSubmission</ContentType>
    <CreateDate>2025-11-06T12:21:35</CreateDate>
    <NodeName Default="2025-11-06 12:21 :0855" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackEmail>
      <Value><![CDATA[anka@com.com]]></Value>
    </callbackEmail>
    <callbackName>
      <Value><![CDATA[Anka]]></Value>
    </callbackName>
    <callBackOption>
      <Value><![CDATA[Business Consulting]]></Value>
    </callBackOption>
    <callbackPhone>
      <Value><![CDATA[123456789]]></Value>
    </callbackPhone>
  </Properties>
</Content>