<?xml version="1.0" encoding="utf-8"?>
<Content Key="9acc98a4-ae72-49ec-81de-107bc1e174e2" Alias="2025-11-05 16:56 :f897" Level="2">
  <Info>
    <Parent Key="24c1db3a-efe6-4bd6-91c0-1b565247b9d8">Support</Parent>
    <Path>/Support/f897</Path>
    <Trashed>false</Trashed>
    <ContentType>supportSubmission</ContentType>
    <CreateDate>2025-11-05T16:56:18</CreateDate>
    <NodeName Default="2025-11-05 16:56 :f897" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <supportSubmissionEmail>
      <Value><![CDATA[ballo@lo.com]]></Value>
    </supportSubmissionEmail>
  </Properties>
</Content>