<?xml version="1.0" encoding="utf-8"?>
<Content Key="ba27dfbc-d1e6-425f-9d11-ee6350937e56" Alias="2025-11-06 14:43 :0530" Level="2">
  <Info>
    <Parent Key="360ddf24-2617-4834-a75a-149e9055a629">Call Backs</Parent>
    <Path>/CallBacks/</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackSubmission</ContentType>
    <CreateDate>2025-11-06T14:43:26</CreateDate>
    <NodeName Default="2025-11-06 14:43 :0530" />
    <SortOrder>9</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackEmail>
      <Value><![CDATA[contact@domain.com]]></Value>
    </callbackEmail>
    <callbackName>
      <Value><![CDATA[Contact Page]]></Value>
    </callbackName>
    <callBackOption>
      <Value><![CDATA[Investment Planning]]></Value>
    </callBackOption>
    <callbackPhone>
      <Value><![CDATA[123456789]]></Value>
    </callbackPhone>
  </Properties>
</Content>