<?xml version="1.0" encoding="utf-8"?>
<Content Key="b7084e26-1e28-42c9-8c1b-17ef1a74a427" Alias="2025-11-05 17:08 :7aed" Level="2">
  <Info>
    <Parent Key="24c1db3a-efe6-4bd6-91c0-1b565247b9d8">Support</Parent>
    <Path>/Support/aed</Path>
    <Trashed>false</Trashed>
    <ContentType>supportSubmission</ContentType>
    <CreateDate>2025-11-05T17:08:15</CreateDate>
    <NodeName Default="2025-11-05 17:08 :7aed" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <supportSubmissionEmail>
      <Value><![CDATA[hest@heo.com]]></Value>
    </supportSubmissionEmail>
  </Properties>
</Content>