<?xml version="1.0" encoding="utf-8"?>
<Content Key="9c2914f6-c93e-4d0e-9f3e-68f2c9d249ae" Alias="2025-11-06 10:21 :8b29" Level="2">
  <Info>
    <Parent Key="de123fc9-6102-46b1-8a08-e1438677769a">Questions</Parent>
    <Path>/Questions/b29</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSubmission</ContentType>
    <CreateDate>2025-11-06T10:21:01</CreateDate>
    <NodeName Default="2025-11-06 10:21 :8b29" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionSubmissionEmail>
      <Value><![CDATA[kanske@kanske.com]]></Value>
    </questionSubmissionEmail>
    <questionSubmissionName>
      <Value><![CDATA[Kanske]]></Value>
    </questionSubmissionName>
    <questionSubmissionText>
      <Value><![CDATA[Hallllåååå!]]></Value>
    </questionSubmissionText>
  </Properties>
</Content>