<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1101a62-d30c-42a1-b888-2707e25e49c0" Alias="2025-11-06 11:46 :5e3f" Level="2">
  <Info>
    <Parent Key="360ddf24-2617-4834-a75a-149e9055a629">Call Backs</Parent>
    <Path>/CallBacks/e3f</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackSubmission</ContentType>
    <CreateDate>2025-11-06T11:46:56</CreateDate>
    <NodeName Default="2025-11-06 11:46 :5e3f" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackEmail>
      <Value><![CDATA[uu@uu.com]]></Value>
    </callbackEmail>
    <callbackName>
      <Value><![CDATA[UUU]]></Value>
    </callbackName>
    <callBackOption>
      <Value><![CDATA[test2]]></Value>
    </callBackOption>
    <callbackPhone>
      <Value><![CDATA[13245678945]]></Value>
    </callbackPhone>
  </Properties>
</Content>