<?xml version="1.0" encoding="utf-8"?>
<Content Key="4559226c-29f4-4172-b799-e47210213758" Alias="Assurance &amp; Audits" Level="3">
  <Info>
    <Parent Key="cb48219a-284d-48c7-a48e-61e082cb8084">Services</Parent>
    <Path>/Home/Services/AssuranceAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetails</ContentType>
    <CreateDate>2025-10-28T08:53:40</CreateDate>
    <NodeName Default="Assurance &amp; Audits" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6f72e359-593e-438c-b828-2f87f064a15f">ServiceDetails</Template>
  </Info>
  <Properties>
    <asideImg>
      <Value><![CDATA[]]></Value>
    </asideImg>
    <asideText>
      <Value><![CDATA[]]></Value>
    </asideText>
    <asideTitle>
      <Value><![CDATA[]]></Value>
    </asideTitle>
    <blockEditor>
      <Value><![CDATA[]]></Value>
    </blockEditor>
    <serviceDetailsImg>
      <Value><![CDATA[[
  {
    "key": "661168ce-d6de-4e40-a93f-1d874d36356f",
    "mediaKey": "17ca97ac-a078-48c1-a469-35d4833a2f6e",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailsImg>
    <serviceDetailsRte>
      <Value><![CDATA[]]></Value>
    </serviceDetailsRte>
    <serviceDetailsText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailsText>
  </Properties>
</Content>