<?xml version="1.0" encoding="utf-8"?>
<Content Key="98733641-ba4b-4541-b98b-78ff08c55f15" Alias="Bonds &amp; Commodities" Level="3">
  <Info>
    <Parent Key="cb48219a-284d-48c7-a48e-61e082cb8084">Services</Parent>
    <Path>/Home/Services/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetails</ContentType>
    <CreateDate>2025-10-28T08:53:17</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6f72e359-593e-438c-b828-2f87f064a15f">ServiceDetails</Template>
  </Info>
  <Properties>
    <asideImg>
      <Value><![CDATA[[
  {
    "key": "54a95d0a-889f-4713-a07a-987f9ae24eb2",
    "mediaKey": "4b901e8d-8f22-40a9-89c5-5a7e74f0fb56",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </asideImg>
    <asideText>
      <Value><![CDATA[Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy]]></Value>
    </asideText>
    <asideTitle>
      <Value><![CDATA[Success story]]></Value>
    </asideTitle>
    <blockEditor>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "db48a7f8-a904-4254-8d7a-30b7308418dd",
      "key": "cc7333b4-28de-49ac-a50a-1c22a96ef3a7",
      "udi": null,
      "values": [
        {
          "alias": "contactFillerImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "8d065bd9-2288-4f6f-aea5-5b1f49634731",
              "mediaKey": "d6af4cb3-e693-4b69-a5d0-8d341baf977f",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactFillerTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "0195d2e8-ffd5-4387-98a7-5f9c8cc8f331",
      "key": "0e334586-663a-49e3-9cd9-58cf958d2ef9",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "cc7333b4-28de-49ac-a50a-1c22a96ef3a7",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "cc7333b4-28de-49ac-a50a-1c22a96ef3a7",
        "contentUdi": null,
        "settingsKey": "0e334586-663a-49e3-9cd9-58cf958d2ef9",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blockEditor>
    <serviceDetailsImg>
      <Value><![CDATA[[
  {
    "key": "4ce3c91d-ef93-4a42-ba98-17eb0457cf3e",
    "mediaKey": "981b1ee2-6782-41b9-91f4-696a309f5783",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailsImg>
    <serviceDetailsRte>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp class=\u0022rte-text-20 rte-weight-bold\u0022\u003E\u003Cspan class=\u0022rte-main-color\u0022\u003EWe\u2019ll help you achieve financial confidence\u003C/span\u003E\u003C/p\u003E\u003Cp class=\u0022rte-text-14 rte-weight-normal\u0022\u003E\u003Cbr\u003E\u003Cspan class=\u0022rte-body-text-color\u0022\u003EWorking with a financial advisor may help you come away feeling more confident knowing that you have the support you need to help:\u003Cbr\u003ECover your essentials. Essentials are the monthly expenses that keep your life running.\u003Cbr\u003EEnsure your lifestyle. Lifestyle is about the things that you want to do, and how you want to live, today and in the future.\u003Cbr\u003EPrepare for the unexpected. The unexpected are events that could derail your financial plans.\u003Cbr\u003ELeave a legacy. Legacy is about the impact you\u2019ll make on the people, charities and causes that are important to you.\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </serviceDetailsRte>
    <serviceDetailsText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailsText>
  </Properties>
</Content>