<?xml version="1.0" encoding="utf-8"?>
<Content Key="360ddf24-2617-4834-a75a-149e9055a629" Alias="Call Backs" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CallBacks</Path>
    <Trashed>false</Trashed>
    <ContentType>callBacks</ContentType>
    <CreateDate>2025-11-05T16:03:43</CreateDate>
    <NodeName Default="Call Backs" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>