<?xml version="1.0" encoding="utf-8"?>
<Content Key="596e4404-fb67-4ab2-876a-f3578d96f60d" Alias="Contact" Level="2">
  <Info>
    <Parent Key="b8ece6d3-4660-4021-96e2-9bf4a32ae377">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-24T08:56:58</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="66354b3f-4764-44db-a6fa-953cbf0e70fe">ContactPage</Template>
  </Info>
  <Properties>
    <blockEditor>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "90a005b6-ed0c-4790-b8c9-53466cc6b8e8",
      "key": "8132a13a-7c2f-4937-b86a-b065213290a0",
      "udi": null,
      "values": [
        {
          "alias": "blockEditor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "7dc9b6c0-76e8-40bb-84d1-66b59fc644e3",
                "key": "ebeb54a4-e943-46c1-b06f-d59edf89f08c",
                "udi": null,
                "values": [
                  {
                    "alias": "brandImg",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "22f847f7-9991-4bce-a7e9-c4d0199babc8",
                        "mediaKey": "1685c715-5655-43fa-b92a-bdb7c52db9f1",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "brandName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "partner1"
                  }
                ]
              },
              {
                "contentTypeKey": "7dc9b6c0-76e8-40bb-84d1-66b59fc644e3",
                "key": "68a40ec0-69ce-4767-bdfb-d1b366adc771",
                "udi": null,
                "values": [
                  {
                    "alias": "brandImg",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "6b4f5c5c-eae5-4904-b031-8fc3bf4223b3",
                        "mediaKey": "046992be-6054-44c6-bd7a-45e3c1ebf6d6",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "brandName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "partner2"
                  }
                ]
              },
              {
                "contentTypeKey": "7dc9b6c0-76e8-40bb-84d1-66b59fc644e3",
                "key": "3d3605d4-2554-48c7-b1bc-bd513ae25d24",
                "udi": null,
                "values": [
                  {
                    "alias": "brandImg",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "c5482c88-c150-4d1f-a450-dc16a1949aad",
                        "mediaKey": "ee2d5e5f-3064-46dc-95ce-72a7554b54f6",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "brandName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "partner3"
                  }
                ]
              },
              {
                "contentTypeKey": "7dc9b6c0-76e8-40bb-84d1-66b59fc644e3",
                "key": "b2f07e8f-7c37-439c-a51b-d3dd567d3f00",
                "udi": null,
                "values": [
                  {
                    "alias": "brandImg",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "0136117b-1f02-4943-9db6-227a11ab4cb7",
                        "mediaKey": "377ac854-d816-46d5-bc8d-10d82ea34c83",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "brandName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "partner4"
                  }
                ]
              },
              {
                "contentTypeKey": "7dc9b6c0-76e8-40bb-84d1-66b59fc644e3",
                "key": "35f12766-a824-4cff-b9f5-b089989eebcd",
                "udi": null,
                "values": [
                  {
                    "alias": "brandImg",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "2319eb51-8150-43c7-bdd1-0c0b441dce76",
                        "mediaKey": "ce59d7d7-dbb0-4dca-9852-0b708e7eca8b",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "brandName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "partner5"
                  }
                ]
              },
              {
                "contentTypeKey": "7dc9b6c0-76e8-40bb-84d1-66b59fc644e3",
                "key": "d17e1f0d-0561-4cf8-8d83-fce1b32f87c8",
                "udi": null,
                "values": [
                  {
                    "alias": "brandImg",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "8617def7-7f4c-4306-87a3-b41c1af5572f",
                        "mediaKey": "70c82ff1-6950-4267-8cab-ecbd44673ce5",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "brandName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "partner6"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "ebeb54a4-e943-46c1-b06f-d59edf89f08c",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "68a40ec0-69ce-4767-bdfb-d1b366adc771",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "3d3605d4-2554-48c7-b1bc-bd513ae25d24",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b2f07e8f-7c37-439c-a51b-d3dd567d3f00",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "35f12766-a824-4cff-b9f5-b089989eebcd",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d17e1f0d-0561-4cf8-8d83-fce1b32f87c8",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "ebeb54a4-e943-46c1-b06f-d59edf89f08c",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "68a40ec0-69ce-4767-bdfb-d1b366adc771",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "3d3605d4-2554-48c7-b1bc-bd513ae25d24",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b2f07e8f-7c37-439c-a51b-d3dd567d3f00",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "35f12766-a824-4cff-b9f5-b089989eebcd",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d17e1f0d-0561-4cf8-8d83-fce1b32f87c8",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "db48a7f8-a904-4254-8d7a-30b7308418dd",
      "key": "f97fb4e5-5666-4729-835e-bf94eaf747a4",
      "udi": null,
      "values": [
        {
          "alias": "contactFillerTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactFillerImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "5a6a7a76-dc4e-4850-9a6b-84f6bcfe2103",
              "mediaKey": "d6af4cb3-e693-4b69-a5d0-8d341baf977f",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "d7e6fe16-bc8c-4983-b272-e1e0257d91f1",
      "key": "6915643d-df65-443d-b7bd-d109b54c2913",
      "udi": null,
      "values": [
        {
          "alias": "mapImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ba8eb92d-e305-4646-8717-02369244678e",
              "mediaKey": "520691cf-757d-4493-a7ab-10bffab86e02",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "0195d2e8-ffd5-4387-98a7-5f9c8cc8f331",
      "key": "14656830-0c91-4029-b33d-d798576150a6",
      "udi": null,
      "values": [
        {
          "alias": "bgcolor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "white",
            "value": "#FFFFFF"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "8132a13a-7c2f-4937-b86a-b065213290a0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f97fb4e5-5666-4729-835e-bf94eaf747a4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6915643d-df65-443d-b7bd-d109b54c2913",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f97fb4e5-5666-4729-835e-bf94eaf747a4",
        "contentUdi": null,
        "settingsKey": "14656830-0c91-4029-b33d-d798576150a6",
        "settingsUdi": null
      },
      {
        "contentKey": "6915643d-df65-443d-b7bd-d109b54c2913",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "8132a13a-7c2f-4937-b86a-b065213290a0",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blockEditor>
  </Properties>
</Content>