<?xml version="1.0" encoding="utf-8"?>
<Content Key="e045e69c-db69-4cb4-9707-dc441c571eb9" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="cb48219a-284d-48c7-a48e-61e082cb8084">Services</Parent>
    <Path>/Home/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetails</ContentType>
    <CreateDate>2025-10-28T08:55:21</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6f72e359-593e-438c-b828-2f87f064a15f">ServiceDetails</Template>
  </Info>
  <Properties>
    <asideImg>
      <Value><![CDATA[]]></Value>
    </asideImg>
    <asideText>
      <Value><![CDATA[]]></Value>
    </asideText>
    <asideTitle>
      <Value><![CDATA[]]></Value>
    </asideTitle>
    <blockEditor>
      <Value><![CDATA[]]></Value>
    </blockEditor>
    <serviceDetailsImg>
      <Value><![CDATA[[
  {
    "key": "4d4f10f0-18ef-425b-a6fd-da4e26948bbc",
    "mediaKey": "2378e0c4-fbc3-48b9-9567-a3dc7d15b44a",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailsImg>
    <serviceDetailsRte>
      <Value><![CDATA[]]></Value>
    </serviceDetailsRte>
    <serviceDetailsText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailsText>
  </Properties>
</Content>