<?xml version="1.0" encoding="utf-8"?>
<Content Key="a67e98d3-6257-49bb-afa0-83c05d78aad0" Alias="Forms Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FormsSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>formSettings</ContentType>
    <CreateDate>2025-11-06T10:46:17</CreateDate>
    <NodeName Default="Forms Settings" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callBackHeader>
      <Value><![CDATA[Request a call back]]></Value>
    </callBackHeader>
    <callBackOptions>
      <Value><![CDATA[Financial consulting
Investment Planning
Risk Management
Business Consulting]]></Value>
    </callBackOptions>
    <callBackText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat]]></Value>
    </callBackText>
    <callBackTitle>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </callBackTitle>
  </Properties>
</Content>