<?xml version="1.0" encoding="utf-8"?>
<Content Key="b8ece6d3-4660-4021-96e2-9bf4a32ae377" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-24T08:54:57</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="85b27af9-673c-4a45-9808-68d7ef9f7223">HomePage</Template>
  </Info>
  <Properties>
    <blockEditor>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "7bd38299-2134-41eb-bec6-5dc4ddc1c30e",
      "key": "1ae7587f-2cd4-4fae-aebb-49ac04f1728a",
      "udi": null,
      "values": [
        {
          "alias": "bgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f21c2e57-7b51-4cee-a05b-7b4f6a45f255",
              "mediaKey": "434f1b81-de85-4c51-ab5c-ae49e6d5df48",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact Us",
              "target": null,
              "udi": "umb://document/596e4404fb674ab2876af3578d96f60d",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "3447145d-3c03-4acd-b0f9-7a4e06cb349a",
      "key": "c8bae22b-2f63-4a51-9435-14e8f0517b63",
      "udi": null,
      "values": [
        {
          "alias": "header",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "ABOUT US"
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We have 40 years experience"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cem class=\u0022c-quote\u0022\u003E\u201CWe have over 25 years of experience providing expert financial advice to both businesses and individuals.\u201D\u003C/em\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan class=\u0022c-bt\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.\u003C/span\u003E\u003C/p\u003E\u003Cfigure figcaption=\u0022\u0022\u003E\u003Cp\u003E\u003Cimg data-udi=\u0022umb://media/9baf101cbc8d4ab0ae5c453471222bc8\u0022 src=\u0022\u0022 alt=\u0022tinaSignature\u0022 width=\u0022161\u0022 height=\u002276\u0022\u003E\u003C/p\u003E\u003Cfigcaption\u003ETina Fox - CEO \u0026amp; Founder\u003C/figcaption\u003E\u003C/figure\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "10b13f61-9549-4cc7-a8f8-6fae06fce660",
      "key": "9fa3098a-b0f5-40f2-bcf0-35ce4c869164",
      "udi": null,
      "values": [
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We Provide The Solutions  To Grow Your Business Faster"
        },
        {
          "alias": "serviceHeader",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "OUR SERVICES"
        }
      ]
    },
    {
      "contentTypeKey": "5a7b7205-33ea-4726-9253-4d708f8ebd2b",
      "key": "1e710226-7678-43ad-9a96-8ed1074004de",
      "udi": null,
      "values": [
        {
          "alias": "trustedTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We are trusted by more than 4.000\u002B clients"
        },
        {
          "alias": "trustedText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan class=\u0022c-slide\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "trustedLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Read our story",
              "target": null,
              "udi": "umb://document/8c55f7872bf048d3a97c62cc1592dd7c",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "trustedImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "799b278e-24da-4f75-91c4-a7c212fec250",
              "mediaKey": "c598e99b-6e73-4ddf-9013-b3ff6a6b8091",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "trustedBgImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "2cf5063e-2fd6-4d7d-928d-1f9985d9b076",
              "mediaKey": "62bbb991-38ec-487f-b8ef-16f2d4f87292",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "a99d3c77-e0a1-40f0-9cb6-b7e4cc3009fb",
      "key": "ec7366ac-40b7-4f64-981f-ff06edbd8781",
      "udi": null,
      "values": [
        {
          "alias": "successHeader",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "SUCCESS STORIES"
        },
        {
          "alias": "successTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Success story"
        },
        {
          "alias": "successBlock",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "67057701-4f6d-4ea0-be8c-d281871f3147",
                "key": "a39af1e7-f98d-4886-b1b5-01321a396523",
                "udi": null,
                "values": [
                  {
                    "alias": "storyText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 100 customers has been served"
                  },
                  {
                    "alias": "storyAmount",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "689"
                  }
                ]
              },
              {
                "contentTypeKey": "67057701-4f6d-4ea0-be8c-d281871f3147",
                "key": "5e68ec0a-e09c-4ea5-b845-ce676dfc9d60",
                "udi": null,
                "values": [
                  {
                    "alias": "storyText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 370 projects has been completed"
                  },
                  {
                    "alias": "storyAmount",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "370"
                  }
                ]
              },
              {
                "contentTypeKey": "67057701-4f6d-4ea0-be8c-d281871f3147",
                "key": "6f5b4149-ce69-40e4-8f45-e7879002a1ee",
                "udi": null,
                "values": [
                  {
                    "alias": "storyText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 125 braches has been established in Europe and America"
                  },
                  {
                    "alias": "storyAmount",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "125"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "a39af1e7-f98d-4886-b1b5-01321a396523",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "5e68ec0a-e09c-4ea5-b845-ce676dfc9d60",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "6f5b4149-ce69-40e4-8f45-e7879002a1ee",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "a39af1e7-f98d-4886-b1b5-01321a396523",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "5e68ec0a-e09c-4ea5-b845-ce676dfc9d60",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "6f5b4149-ce69-40e4-8f45-e7879002a1ee",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "successImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "fa40746b-74b0-4038-a79a-39628123e808",
              "mediaKey": "4b901e8d-8f22-40a9-89c5-5a7e74f0fb56",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "successBgImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a8293d65-d2c3-4978-bf8f-f57f87264d19",
              "mediaKey": "b82dcff2-4e81-423b-b18f-ac04ea408850",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "90a005b6-ed0c-4790-b8c9-53466cc6b8e8",
      "key": "5d992ab1-c0e1-4d8a-8fb3-399de6c35750",
      "udi": null,
      "values": [
        {
          "alias": "blockEditor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "7dc9b6c0-76e8-40bb-84d1-66b59fc644e3",
                "key": "fae09245-3f34-4c70-9bc2-96ec21dd7c16",
                "udi": null,
                "values": [
                  {
                    "alias": "brandImg",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "95cc937b-402b-4d7b-ab2b-2ef7cc2d171d",
                        "mediaKey": "1685c715-5655-43fa-b92a-bdb7c52db9f1",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "brandName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "partner1"
                  }
                ]
              },
              {
                "contentTypeKey": "7dc9b6c0-76e8-40bb-84d1-66b59fc644e3",
                "key": "53fa58f6-02be-4393-ba9a-b79a500f35c3",
                "udi": null,
                "values": [
                  {
                    "alias": "brandImg",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "e8d898ad-c7f8-4549-a1c0-96d8ecf2e637",
                        "mediaKey": "046992be-6054-44c6-bd7a-45e3c1ebf6d6",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "brandName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "partner2"
                  }
                ]
              },
              {
                "contentTypeKey": "7dc9b6c0-76e8-40bb-84d1-66b59fc644e3",
                "key": "c53d672b-54e0-4de7-ac21-12b443abe6fa",
                "udi": null,
                "values": [
                  {
                    "alias": "brandImg",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "71fd6d33-908f-4a87-b8d5-d30669e59f71",
                        "mediaKey": "ee2d5e5f-3064-46dc-95ce-72a7554b54f6",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "brandName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "partner3"
                  }
                ]
              },
              {
                "contentTypeKey": "7dc9b6c0-76e8-40bb-84d1-66b59fc644e3",
                "key": "9943302e-6e5d-48cd-97d7-183b1acc9b86",
                "udi": null,
                "values": [
                  {
                    "alias": "brandImg",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "9db3e089-65c7-4266-8b80-555fabd47c98",
                        "mediaKey": "377ac854-d816-46d5-bc8d-10d82ea34c83",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "brandName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "partner4"
                  }
                ]
              },
              {
                "contentTypeKey": "7dc9b6c0-76e8-40bb-84d1-66b59fc644e3",
                "key": "d7e52b77-7bc9-485b-bae8-c0849e6f0759",
                "udi": null,
                "values": [
                  {
                    "alias": "brandImg",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "36334765-a578-43fa-a5ac-27196c7e8f42",
                        "mediaKey": "ce59d7d7-dbb0-4dca-9852-0b708e7eca8b",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "brandName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "partner5"
                  }
                ]
              },
              {
                "contentTypeKey": "7dc9b6c0-76e8-40bb-84d1-66b59fc644e3",
                "key": "d812d361-9bda-49a3-bc80-2a2b6441ab04",
                "udi": null,
                "values": [
                  {
                    "alias": "brandImg",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "eb218ecb-bfb2-4855-b5b3-0eef6f8cdd42",
                        "mediaKey": "70c82ff1-6950-4267-8cab-ecbd44673ce5",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "brandName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "partner6"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "fae09245-3f34-4c70-9bc2-96ec21dd7c16",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "53fa58f6-02be-4393-ba9a-b79a500f35c3",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c53d672b-54e0-4de7-ac21-12b443abe6fa",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "9943302e-6e5d-48cd-97d7-183b1acc9b86",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d7e52b77-7bc9-485b-bae8-c0849e6f0759",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d812d361-9bda-49a3-bc80-2a2b6441ab04",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "fae09245-3f34-4c70-9bc2-96ec21dd7c16",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "53fa58f6-02be-4393-ba9a-b79a500f35c3",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "c53d672b-54e0-4de7-ac21-12b443abe6fa",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "9943302e-6e5d-48cd-97d7-183b1acc9b86",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d7e52b77-7bc9-485b-bae8-c0849e6f0759",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d812d361-9bda-49a3-bc80-2a2b6441ab04",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "ef893e1b-404f-45e1-8640-b09832cfd55c",
      "key": "45b91dde-63e2-406f-9e97-7cba6d2b8a43",
      "udi": null,
      "values": [
        {
          "alias": "showHeader",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "headerColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#D9C3A9"
          }
        },
        {
          "alias": "titleColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#4F5955"
          }
        },
        {
          "alias": "showTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showRequestForm",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "f1ba6695-5372-4eb7-acbe-8d1514e46180",
      "key": "973dde32-8716-4552-b203-37eea72b6380",
      "udi": null,
      "values": [
        {
          "alias": "showHeader",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "bgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#F7F7F7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "1ae7587f-2cd4-4fae-aebb-49ac04f1728a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c8bae22b-2f63-4a51-9435-14e8f0517b63",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9fa3098a-b0f5-40f2-bcf0-35ce4c869164",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1e710226-7678-43ad-9a96-8ed1074004de",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ec7366ac-40b7-4f64-981f-ff06edbd8781",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5d992ab1-c0e1-4d8a-8fb3-399de6c35750",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "1ae7587f-2cd4-4fae-aebb-49ac04f1728a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "c8bae22b-2f63-4a51-9435-14e8f0517b63",
        "contentUdi": null,
        "settingsKey": "45b91dde-63e2-406f-9e97-7cba6d2b8a43",
        "settingsUdi": null
      },
      {
        "contentKey": "9fa3098a-b0f5-40f2-bcf0-35ce4c869164",
        "contentUdi": null,
        "settingsKey": "973dde32-8716-4552-b203-37eea72b6380",
        "settingsUdi": null
      },
      {
        "contentKey": "1e710226-7678-43ad-9a96-8ed1074004de",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "ec7366ac-40b7-4f64-981f-ff06edbd8781",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "5d992ab1-c0e1-4d8a-8fb3-399de6c35750",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blockEditor>
  </Properties>
</Content>