<?xml version="1.0" encoding="utf-8"?>
<Content Key="de123fc9-6102-46b1-8a08-e1438677769a" Alias="Questions" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Questions</Path>
    <Trashed>false</Trashed>
    <ContentType>questions</ContentType>
    <CreateDate>2025-11-05T16:07:28</CreateDate>
    <NodeName Default="Questions" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>