<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb48219a-284d-48c7-a48e-61e082cb8084" Alias="Services" Level="2">
  <Info>
    <Parent Key="b8ece6d3-4660-4021-96e2-9bf4a32ae377">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-27T14:05:27</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5fcf9b32-45d3-4a2a-a940-31b49540e5ad">ServicePage</Template>
  </Info>
  <Properties>
    <blockEditor>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "10b13f61-9549-4cc7-a8f8-6fae06fce660",
      "key": "6044e4ce-e031-4e49-956b-7b9984a01ccf",
      "udi": null,
      "values": [
        {
          "alias": "serviceHeader",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "OUR SERVICES"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We Provide The Solutions  To Grow Your Business Faster"
        }
      ]
    },
    {
      "contentTypeKey": "db48a7f8-a904-4254-8d7a-30b7308418dd",
      "key": "07ec7be3-a375-43c9-bc83-6f076d9df9e7",
      "udi": null,
      "values": [
        {
          "alias": "contactFillerTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactFillerImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a4b9693c-2f1a-49c3-a5ed-640b620e0826",
              "mediaKey": "d6af4cb3-e693-4b69-a5d0-8d341baf977f",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "f1ba6695-5372-4eb7-acbe-8d1514e46180",
      "key": "9b0d18e6-e779-4a6b-a5cb-31a47bda2f63",
      "udi": null,
      "values": [
        {
          "alias": "showHeader",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "bgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "0195d2e8-ffd5-4387-98a7-5f9c8cc8f331",
      "key": "d481a5a0-950e-46dc-8880-d7b994158b1b",
      "udi": null,
      "values": [
        {
          "alias": "bgcolor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "white-90",
            "value": "#F7F7F7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "6044e4ce-e031-4e49-956b-7b9984a01ccf",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "07ec7be3-a375-43c9-bc83-6f076d9df9e7",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "6044e4ce-e031-4e49-956b-7b9984a01ccf",
        "contentUdi": null,
        "settingsKey": "9b0d18e6-e779-4a6b-a5cb-31a47bda2f63",
        "settingsUdi": null
      },
      {
        "contentKey": "07ec7be3-a375-43c9-bc83-6f076d9df9e7",
        "contentUdi": null,
        "settingsKey": "d481a5a0-950e-46dc-8880-d7b994158b1b",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blockEditor>
  </Properties>
</Content>