<?xml version="1.0" encoding="utf-8"?>
<Content Key="ff3e7794-0fb3-49e4-b002-cbe98283e542" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-27T10:11:19</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </address>
    <email>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </email>
    <logo>
      <Value><![CDATA[[
  {
    "key": "36c603e5-3dd2-4d0d-a109-b6d52c547cb3",
    "mediaKey": "7b1d3b68-5023-4bcf-9d2f-7efcaa001770",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo>
    <phone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </phone>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e5da19b1-9a54-4e20-bf79-5fa588862910",
      "key": "aee00acd-ef62-49bf-9b2b-e77e66b151a1",
      "udi": null,
      "values": [
        {
          "alias": "itemName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "itemIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "fd690659-6436-4b3a-a609-28beb1faad85",
              "mediaKey": "b6a52bc2-4008-4893-a8f7-56df89359c88",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "itemUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com/"
        }
      ]
    },
    {
      "contentTypeKey": "e5da19b1-9a54-4e20-bf79-5fa588862910",
      "key": "89f0ee5e-ee0c-461d-9938-b4eab01fcb47",
      "udi": null,
      "values": [
        {
          "alias": "itemName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Twitter"
          ]
        },
        {
          "alias": "itemIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c36c3cfd-0701-4e8c-b652-88e84b19fe03",
              "mediaKey": "f2fe9c48-e1a5-40c7-8387-c5387a44be57",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "itemUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://x.com/"
        }
      ]
    },
    {
      "contentTypeKey": "e5da19b1-9a54-4e20-bf79-5fa588862910",
      "key": "cb35f3fb-743a-4e3e-ba53-00cf45cdab85",
      "udi": null,
      "values": [
        {
          "alias": "itemName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "LinkedIn"
          ]
        },
        {
          "alias": "itemIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ca1a8510-0933-4491-af9a-5e38385f27ad",
              "mediaKey": "41a21ba9-e8e9-4cdd-affc-48a9df44f9f0",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "itemUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.linkedin.com/"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "aee00acd-ef62-49bf-9b2b-e77e66b151a1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "89f0ee5e-ee0c-461d-9938-b4eab01fcb47",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cb35f3fb-743a-4e3e-ba53-00cf45cdab85",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "aee00acd-ef62-49bf-9b2b-e77e66b151a1",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "89f0ee5e-ee0c-461d-9938-b4eab01fcb47",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "cb35f3fb-743a-4e3e-ba53-00cf45cdab85",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <siterFooter>
      <Value><![CDATA[© Onatrix. All Rights Reserved. Credits to Themesflat]]></Value>
    </siterFooter>
  </Properties>
</Content>