<?xml version="1.0" encoding="utf-8"?>
<Content Key="df99e5ad-21ac-4b6f-a3a4-75d45237ad13" Alias="Statistic Advisors" Level="3">
  <Info>
    <Parent Key="cb48219a-284d-48c7-a48e-61e082cb8084">Services</Parent>
    <Path>/Home/Services/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetails</ContentType>
    <CreateDate>2025-10-28T08:56:03</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6f72e359-593e-438c-b828-2f87f064a15f">ServiceDetails</Template>
  </Info>
  <Properties>
    <asideImg>
      <Value><![CDATA[]]></Value>
    </asideImg>
    <asideText>
      <Value><![CDATA[]]></Value>
    </asideText>
    <asideTitle>
      <Value><![CDATA[]]></Value>
    </asideTitle>
    <blockEditor>
      <Value><![CDATA[]]></Value>
    </blockEditor>
    <serviceDetailsImg>
      <Value><![CDATA[[
  {
    "key": "7e2acd58-83a1-4691-8b92-7750bd69fe57",
    "mediaKey": "5cd2a3bf-2517-4948-9a13-d9f6fed1ddfb",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailsImg>
    <serviceDetailsRte>
      <Value><![CDATA[]]></Value>
    </serviceDetailsRte>
    <serviceDetailsText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailsText>
  </Properties>
</Content>