<?xml version="1.0" encoding="utf-8"?>
<Content Key="24c1db3a-efe6-4bd6-91c0-1b565247b9d8" Alias="Support" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Support</Path>
    <Trashed>false</Trashed>
    <ContentType>support</ContentType>
    <CreateDate>2025-11-05T15:54:40</CreateDate>
    <NodeName Default="Support" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>