<?xml version="1.0" encoding="utf-8"?>
<Content Key="00901894-6779-47a3-81be-58d8f35a810e" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="cb48219a-284d-48c7-a48e-61e082cb8084">Services</Parent>
    <Path>/Home/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetails</ContentType>
    <CreateDate>2025-10-28T08:55:01</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6f72e359-593e-438c-b828-2f87f064a15f">ServiceDetails</Template>
  </Info>
  <Properties>
    <asideImg>
      <Value><![CDATA[]]></Value>
    </asideImg>
    <asideText>
      <Value><![CDATA[]]></Value>
    </asideText>
    <asideTitle>
      <Value><![CDATA[]]></Value>
    </asideTitle>
    <blockEditor>
      <Value><![CDATA[]]></Value>
    </blockEditor>
    <serviceDetailsImg>
      <Value><![CDATA[[
  {
    "key": "3b70ee1b-453e-44d0-838c-0272e923816f",
    "mediaKey": "134f408b-9fac-469b-aa5f-6494ae006e79",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailsImg>
    <serviceDetailsRte>
      <Value><![CDATA[]]></Value>
    </serviceDetailsRte>
    <serviceDetailsText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailsText>
  </Properties>
</Content>