<?xml version="1.0" encoding="utf-8"?>
<DataType Key="723c96f8-ccb7-455f-b0f8-ce4c013546fc" Alias="About Page - Block List Property Editor" Level="1">
  <Info>
    <Name>About Page - Block List Property Editor</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3447145d-3c03-4acd-b0f9-7a4e06cb349a",
      "settingsElementTypeKey": "ef893e1b-404f-45e1-8640-b09832cfd55c"
    },
    {
      "contentElementTypeKey": "692d5ae6-046a-4001-a7c9-ebd6a17e1e11"
    },
    {
      "contentElementTypeKey": "db48a7f8-a904-4254-8d7a-30b7308418dd",
      "settingsElementTypeKey": "0195d2e8-ffd5-4387-98a7-5f9c8cc8f331"
    },
    {
      "contentElementTypeKey": "aae02366-2ebe-4367-8f2b-44079488c244"
    }
  ]
}]]></Config>
</DataType>