<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b6004ae0-75d1-4b44-891b-da6c1e676da1" Alias="Block List Property Editor" Level="1">
  <Info>
    <Name>Block List Property Editor</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "7bd38299-2134-41eb-bec6-5dc4ddc1c30e"
    },
    {
      "contentElementTypeKey": "3447145d-3c03-4acd-b0f9-7a4e06cb349a",
      "settingsElementTypeKey": "ef893e1b-404f-45e1-8640-b09832cfd55c"
    },
    {
      "contentElementTypeKey": "10b13f61-9549-4cc7-a8f8-6fae06fce660",
      "settingsElementTypeKey": "f1ba6695-5372-4eb7-acbe-8d1514e46180"
    },
    {
      "contentElementTypeKey": "5a7b7205-33ea-4726-9253-4d708f8ebd2b"
    },
    {
      "contentElementTypeKey": "a99d3c77-e0a1-40f0-9cb6-b7e4cc3009fb"
    },
    {
      "contentElementTypeKey": "90a005b6-ed0c-4790-b8c9-53466cc6b8e8",
      "label": ""
    }
  ]
}]]></Config>
</DataType>