<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6f7f9bf4-2405-49a4-b34d-ff410ca3a034" Alias="Brands Section Editor" Level="1">
  <Info>
    <Name>Brands Section Editor</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "7dc9b6c0-76e8-40bb-84d1-66b59fc644e3",
      "label": "{{umbValue:brandName}}"
    }
  ]
}]]></Config>
</DataType>