<?xml version="1.0" encoding="utf-8"?>
<DataType Key="089773e8-865d-4051-8570-7a38b943db57" Alias="Call Back List Editor" Level="1">
  <Info>
    <Name>Call Back List Editor</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 1
}]]></Config>
</DataType>