<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d5bbe819-5342-4dbe-926a-ea3b8578f423" Alias="Contact FIller Color" Level="1">
  <Info>
    <Name>Contact FIller Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "FFFFFF",
      "label": "white"
    },
    {
      "value": "F7F7F7",
      "label": "white-90"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>