<?xml version="1.0" encoding="utf-8"?>
<DataType Key="327211a3-c5f7-4be8-a7f4-82e530f2a792" Alias="Contact Page Editor" Level="1">
  <Info>
    <Name>Contact Page Editor</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "90a005b6-ed0c-4790-b8c9-53466cc6b8e8"
    },
    {
      "contentElementTypeKey": "db48a7f8-a904-4254-8d7a-30b7308418dd",
      "settingsElementTypeKey": "0195d2e8-ffd5-4387-98a7-5f9c8cc8f331"
    },
    {
      "contentElementTypeKey": "d7e6fe16-bc8c-4983-b272-e1e0257d91f1"
    }
  ]
}]]></Config>
</DataType>