<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c893d831-ade6-4270-a839-5c141aebeb85" Alias=" Email Editor" Level="1">
  <Info>
    <Name> Email Editor</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EmailAddress</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "email"
}]]></Config>
</DataType>