<?xml version="1.0" encoding="utf-8"?>
<DataType Key="21f975dd-2ee2-46cc-8910-d652d886c995" Alias="Filler Editor" Level="1">
  <Info>
    <Name>Filler Editor</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "db48a7f8-a904-4254-8d7a-30b7308418dd",
      "settingsElementTypeKey": "0195d2e8-ffd5-4387-98a7-5f9c8cc8f331"
    }
  ]
}]]></Config>
</DataType>