<?xml version="1.0" encoding="utf-8"?>
<DataType Key="832961a8-0cd3-4b9c-accf-6c1f77f082f1" Alias="Options Editor" Level="1">
  <Info>
    <Name>Options Editor</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "847c0920-4a80-46bd-a266-d36e9d6ebf79",
      "label": "{{umbValue:options}}"
    }
  ]
}]]></Config>
</DataType>