<?xml version="1.0" encoding="utf-8"?>
<DataType Key="864f0359-49fb-4db6-acda-9029231c3407" Alias="Review Section Editor" Level="1">
  <Info>
    <Name>Review Section Editor</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "7e0ae4b5-b14a-4aba-8d41-2e871679794e",
      "label": "{{umbValue:reviewName}}"
    }
  ]
}]]></Config>
</DataType>