<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b166b75a-41b6-403a-af44-f1f82dc35437" Alias="Service Details Editor" Level="1">
  <Info>
    <Name>Service Details Editor</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "db48a7f8-a904-4254-8d7a-30b7308418dd"
    }
  ]
}]]></Config>
</DataType>