<?xml version="1.0" encoding="utf-8"?>
<DataType Key="db602e63-0fbe-4515-9770-f062b19c12b4" Alias="Service Page Editor" Level="1">
  <Info>
    <Name>Service Page Editor</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "10b13f61-9549-4cc7-a8f8-6fae06fce660",
      "settingsElementTypeKey": "f1ba6695-5372-4eb7-acbe-8d1514e46180"
    },
    {
      "contentElementTypeKey": "db48a7f8-a904-4254-8d7a-30b7308418dd",
      "settingsElementTypeKey": "0195d2e8-ffd5-4387-98a7-5f9c8cc8f331"
    }
  ]
}]]></Config>
</DataType>