<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b94af213-ca07-4090-922f-3644c756a363" Alias="Service Bg Color" Level="1">
  <Info>
    <Name>Service Bg Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "F7F7F7",
      "label": "White-90"
    },
    {
      "value": "FFFFFF",
      "label": "White"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>