<?xml version="1.0" encoding="utf-8"?>
<DataType Key="242ff193-e573-485d-ad86-a2051b3416b8" Alias="socials icon - Media Picker" Level="1">
  <Info>
    <Name>socials icon - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "c4b1efcf-a9d5-41c4-9621-e9d273b52a9c,cc07b313-0843-4aa8-bbda-871c8da728c8",
  "startNodeId": "1c40ce60-d5d9-431e-92e7-e9b770584f24"
}]]></Config>
</DataType>