<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f2ad5e20-c7de-40fc-bb1f-3ca4fddb423f" Alias="Social List Editor" Level="1">
  <Info>
    <Name>Social List Editor</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e5da19b1-9a54-4e20-bf79-5fa588862910",
      "label": "{{umbValue:itemName}}"
    }
  ]
}]]></Config>
</DataType>