<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7d857f30-50da-4855-af59-f8ff196ac93b" Alias=" Story Block Editor" Level="1">
  <Info>
    <Name> Story Block Editor</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "67057701-4f6d-4ea0-be8c-d281871f3147",
      "label": "{{umbValue:storyAmount}}"
    }
  ]
}]]></Config>
</DataType>