<?xml version="1.0" encoding="utf-8"?>
<DataType Key="39212d52-ee23-412c-895f-a461ec000f09" Alias="Support submission list" Level="1">
  <Info>
    <Name>Support submission list</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Collection</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "icon": "icon-list",
  "includeProperties": [
    {
      "alias": "createDate",
      "header": "Created",
      "isSystem": 1
    },
    {
      "alias": "supportSubmissionEmail",
      "header": "Email",
      "isSystem": 0
    }
  ],
  "layouts": [
    {
      "name": "Table",
      "icon": "icon-list",
      "collectionView": "Umb.CollectionView.Document.Table"
    },
    {
      "name": "Grid",
      "icon": "icon-grid",
      "collectionView": "Umb.CollectionView.Document.Grid"
    }
  ],
  "orderBy": "createDate",
  "orderDirection": "desc",
  "pageSize": 10
}]]></Config>
</DataType>