<?xml version="1.0" encoding="utf-8"?>
<DataType Key="53275d9a-d8fc-4dc4-98de-eb038c124cd7" Alias="Title color picker" Level="1">
  <Info>
    <Name>Title color picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "4F5955",
      "label": ""
    }
  ]
}]]></Config>
</DataType>