<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a35037b5-b099-4183-bca3-1eaf32a89412" Alias="Top Bar - Socials - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Top Bar - Socials - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e5da19b1-9a54-4e20-bf79-5fa588862910",
      "label": "{{umbValue:itemName}}"
    }
  ]
}]]></Config>
</DataType>