@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.SuccessSection) Model.Content;
}

<link href="~/css/successSection.css" rel="stylesheet" asp-append-version="true" />

<section class="success">
    <div class="success-container" style="background-image: url(@content.SuccessBgImg?.Url())">
        <p class="c-label">@content.SuccessHeader</p>
        <h2>@content.SuccessTitle</h2>
        <div class="stories-continer">
            @if (content.SuccessBlock != null)
            {
                @foreach (var item in content.SuccessBlock)
                {
                    var block = item.Content as ContentModels.Story;
                    <div class="story-card">
                        <h1 class="c-h1">@block?.StoryAmount</h1>
                        <p>@block?.StoryText</p>
                    </div>
                }
            }
        </div>
        <div>
            @if (content.SuccessImg != null)
            {

                <img src="@content.SuccessImg.Url()" />
            }
        </div>
    </div>
</section>
