.breadcrumb {
    background-color: var(--color-white-90);
    display: grid;
    position: relative;
    place-items: center;
    padding-block: 4.75rem;
    gap: .5rem;

    h2 {
        color: var(--main-color);
    }

    ul {
        text-decoration: none;
        list-style: none;
        display: flex;
        gap: 0.5rem;
        z-index: 1;
    }

    li {
        display: flex;
        gap: .625rem;
        align-items: center;
    }

    a {
        color: var(--main-color);
    }

    a:hover {
        text-decoration: underline;
    }

}

.active {
    color: var(--sub-color-2);
}

.bg-object-1 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: clamp(27rem, 32vw, 38.5rem);
}

.bg-object-2 {
    position: absolute;
    right: 0;
    top: -1rem;
    width: clamp(27rem, 44.271vw, 53.125rem);
}

.bg-object-1,
.bg-object-2 {
    max-width: 100%;
}

@media (width <=991px) {
    .breadcrumb {
        padding-block: 2rem;
    }
}

@media (width <=576px) {
    .breadcrumb {
        padding-bottom: 5rem;
    }
}