.requestForm {
    position: absolute;
    display: grid;
    max-width: 29.375rem;
    top: -11.5rem;
    box-shadow: var(--req-card-drop-shadow);

    h3 {
        color: var(--sub-color-1);
        background-color: var(--main-color);
        padding: 1.75rem 1.875rem;
    }

    .field-validation-error {
        bottom: -1.25rem;
    }
}

.input-group {
    display: grid;
    gap: 1.3125rem;
    padding: 1.875rem;

    p {
        color: var(--body-text-color);
    }
}

@media (width <= 991px) {
   .requestForm{
    position: unset;
    justify-self: center;
   }
}