footer {
  color: var(--main-color);
  background-color: var(--footer-bg);
  padding-block: 1.1875rem;

  p {
    max-width: var(--max-width);
    margin-inline: auto;
  }
}

@media (width <= 991px) {
  footer {
    text-align: center;
  }
}