.questionForm {
  max-width: var(--max-width);
  width: 100%;
  margin-inline: auto;
  padding-block: 0 4.8125rem;

  h4 {
    color: var(--main-color);
  }

  .form-container {
    display: grid;
    gap: 1.25rem;
    padding-top: 1.25rem;
  }

  .group-container {
    display: flex;
    gap: 1.875rem;
  }

  input {
    border-radius: 3px;
  }

  textarea {
    height: 10.9rem;
    border: 1px solid var(--profile-card-border);
    padding: 1rem 1.25rem;
    border-radius: 3px;
    outline: none;
    width: 100%;
  }

  textarea::placeholder {

    color: var(--note-1-color);
    font-style: italic;
  }

  button {
    background-color: var(--main-color);
    color: var(--sub-color-1);
    width: fit-content;
    padding-inline: 2.5rem;
    border-radius: 3px;
  }

  button:hover {
    background-color: var(--btn-hover-question);
  }

  .field-validation-error {
    bottom: unset;
    top: .1rem;
    right: .1rem;
  }
}

@media (width <=991px) {
  .questionForm {
    max-width: var(--max-width);
    width: 100%;
    margin-inline: auto;
    padding: 0 .5rem 2.8125rem;
  }
}