.support {
  padding: 1.25rem 1.25rem 1.875rem;
  display: grid;
  gap: .625rem;
  background-color: var(--main-color);
  border-radius: 3px;
  margin-top: 2.8125rem;
  position: relative;

  .support-title {
    color: var(--sub-color-1);
  }

  .support-text {
    color: var(--color-white);
  }

  form {
    padding-top: 1.875rem;
  }

  input {
    width: 100%;
    border-radius: 3px;
  }

  .support-form {
    position: relative;
    display: inline-block;
    width: 100%;

    >button {
      background-color: transparent;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: background-color ease .2s;
      padding-inline: 1rem;
    }

    >button img {
      transition: all .2s ease-in-out;
    }
    
    >button:hover img {
      transform: scale(1.7);
    }
  }

  .support-bg-icon {
    position: absolute;
    width: 10.25rem;
    right: -.5rem;
    bottom: 0;
  }
}