.about {
    display: grid;
    grid-template-columns: 42rem 1fr;
    max-width: var(--max-width);
    margin-inline: auto;
    padding-block: 6.25rem 7.875rem;
    gap: 1.71875rem;
}

.about-spacing {
    padding-block: .3125rem 3rem;
}

.about-form-container {
    position: relative;
}

.about-quote {
    color: var(--body-text-color);
    padding-bottom: 1rem;
}

.about-rte {
    display: grid;
    gap: 1.25rem;
    color: var(--body-text-color);
}
