.contactFiller {
  padding-top: 2.3125rem;
}

.contactFiller-container {
  display: grid;
  max-width: var(--max-width);
  margin-inline: auto;
  gap: 6.25rem;
  grid-template-columns: 1fr 1fr;

  h2 {
    color: var(--main-color);
    padding-bottom: 1.875rem;
  }
}

.contactFiller-img-size {
  >img {
    width: 100%;
    height: 100%;
  }
}

.contactFiller-container:last-child {
  place-items: center;
}

.contactFiller .group {
  display: grid;
  padding: 0 0 1.875rem 1.4rem;

  .c-sub-4 {
    color: var(--main-color);
    position: relative;
    display: flex;
    align-items: center;
  }

  .c-bt {
    color: var(--body-text-color);
  }

  .icon-location::before {
    content: url(../icon/address.svg);
  }

  .icon-phone::before {
    content: url(../icon/phone.svg);
  }

  .icon-email::before {
    content: url(../icon/email.svg)
  }

  .icon-location::before,
  .icon-phone::before,
  .icon-email::before {
    position: absolute;
    left: -1.4rem;
  }
}

@media (width <=991px) {
  .contactFiller-img-size {
    >img {
      display: none;
    }
  }

  .contactFiller-container {
    grid-template-columns: 1fr;
    gap: 0;
    padding-inline: .5rem;
    h2 {
      color: var(--main-color);
      padding-bottom: 1.875rem;
      text-align: center;
      max-width: 80%;
      margin-inline: auto;
    }

  }

  .contactFiller-container:last-child {
    place-items: unset;
  }
}