.rte-text-14 {
    font-size: 14px;
}

.rte-text-16 {
    font-size: 16px;
}

.rte-text-20 {
    font-size: 20px;
}

.rte-weight-light {
    font-weight: 300;
}

.ret-weight-normal {
    font-weight: 400;
}

.rte-weight-bold {
    font-weight: 700;
}

.rte-body-text-color {
    color: #535656;
}

.rte-main-color {
    color: #4F5955;
}