.services {
    padding-block: 5.3125rem 6.25rem;
}

.services-container {
    max-width: var(--max-width);
    display: grid;
    gap: 1.875rem;
    margin-inline: auto;
}

.services-header {
    text-align: center;

    p {
        color: var(--sub-color-2);
    }

    h2 {
        line-height: unset;
        color: var(--main-color);
        max-width: 35.9rem;
        margin-inline: auto;
    }
}

.services-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
    gap: 1.875rem;

    a {
        color: var(--main-color);
        transition: all .2s ease-in-out;
    }

    a:hover {
        transform: scale(1.05);
    }
}

.services-card {
    background-color: var(--card-bg-color);
    display: grid;
    border: solid 1px var(--profile-card-border);

    h5 {
        padding: 1.5625rem 1.875rem;
    }

    img {
        width: 100%;
        object-fit: cover;
    }

    p {
        padding: 1.25rem 1.875rem;
        color: var(--body-text-color);
    }
}

@media (width <=991px) {
    .services {
        padding-block: 2.25rem 3.25rem;
    }

    .services-header {
        text-align: center;

        h2 {
            font-size: 2rem;
        }
    }

    .services-card-container {
        gap: .5rem;
        padding-inline: .5rem;
        grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    }
}