.success {
  background: linear-gradient(0deg,
      white 17%,
      var(--main-color) 17%);

}

.success-container {
  display: grid;
  max-width: var(--max-width);
  margin-inline: auto;
  background-repeat: no-repeat;
  background-position: 0 6.9375rem;
  padding-top: 6.25rem;
  text-align: center;

  p {
    color: var(--sub-color-2);
    padding-bottom: .5rem;
  }

  h2 {
    color: var(--color-white);
    padding-bottom: 3.5rem;
  }
}

.stories-continer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
}

.story-card {
  max-width: 23.125rem;
  display: grid;
  gap: 1.6875rem;
  padding-bottom: 4.5rem;

  h1 {
    color: var(--sub-color-2);
  }

  p {
    color: var(--color-white);
    font-size: var(--heading-06-size);
    font-weight: var(--heading-05-weight);
  }
}

@media (width <=991px) {
  .success-container {
    padding-top: 3.25rem;

    >div>img {
      width: 100%;
    }
  }

  .stories-continer {
    display: grid;
    grid-template-columns: unset;
  }

  .story-card {
    max-width: unset;
  }
}