.trusted-container {
  display: grid;
  place-self: center;
  place-items: center;
  max-width: var(--max-width);
  padding-top: 6.8125rem;
  text-align: center;

  background-position: center 10.5625rem;
  background-repeat: no-repeat;

  h2 {
    max-width: 40rem;
    line-height: unset;
  }

  p {
    max-width: 43rem;
    color: var(--body-text-color);
    padding-block: 1.875rem 2.1875rem;
  }

  img {
    padding-top: 5.6875rem;
    width: 100%;
  }
}

@media (width <=991px) {
  .trusted-container {
    padding: 2rem .5rem 0 .5rem;
    background-size: 100%;
  }
}

@media (width <=576px) {
  .trusted-container {
    img {
      padding-top: 3rem;
    }
  }
}