@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Onatrix.Models.CallBackModel>
@using Onatrix.Controllers
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var formSettings = Umbraco.ContentAtRoot().OfType<ContentModels.FormSettings>().FirstOrDefault();
}

<link href="/css/_callbackForm.css" rel="stylesheet" asp-append-version="true" />
@using (Html.BeginUmbracoForm<FormController>(nameof(FormController.CallBackSubmit)))
{
    <div class="requestForm" id="request">
        <h3> @formSettings?.CallBackHeader </h3>
        <div class="input-group">
            <p class="c-form-p"> @formSettings?.CallBackText </p>
            <div class="group">
                <input id="name" asp-for="Name" type="text" placeholder="Name" />
                <span asp-validation-for="Name"></span>
                <span class="span-icon-name"></span>
            </div>
            <div class="group">
                <input id="email" asp-for="Email" type="text" placeholder="Email address" />
                <span asp-validation-for="Email"></span>
                <span class="span-icon-email"></span>
            </div>
            <div class="group">
                <input id="phoneNumber" asp-for="PhoneNumber" type="text" placeholder="Phone" />
                <span asp-validation-for="PhoneNumber"></span>
                <span class="span-icon-phoneNumber"></span>
            </div>
            <div class="group">
                <div class="select-wrapper">
                    <select id="option" asp-for="Option">
                        <option value="" disabled selected> Select a callback reason </option>
                        @{
                            if (formSettings?.CallBackOptions != null)
                            {
                                foreach (var option in formSettings.CallBackOptions)
                                {
                                    <option value="@option"> @option </option>
                                }
                            }
                        }
                    </select>
                    <span asp-validation-for="Option"></span>
                    <span class="span-icon-option"></span>
                </div>
            </div>
            <button class="c-sub-2" type="submit">
                @{
                    if (TempData["CallBackSuccess"] != null)
                    {
                        <span> @TempData["CallBackSuccess"] </span>
                    }
                    else
                    {
                        @:Submit
                    }
                }
            </button>
        </div>
    </div>
}

<script type="module">
    import { initFormValidation } from '/js/formValidationHandler.js';
    initFormValidation();
</script>