@using Onatrix.Controllers;
@model Onatrix.Models.QuestionModel;

<link rel="stylesheet" href="/css/_QuestionForm.css" asp-append-version="true" />
@using (Html.BeginUmbracoForm<FormController>(nameof(FormController.QuestionSubmit)))
{
    <section class="questionForm" id="questionSection">
        <h4>Have a question?</h4>
        <div class="form-container">
            <div class="group-container">
                <div class="group">
                    <input id="name" asp-for="Name" type="text" placeholder="Name" />
                    <span asp-validation-for="Name"></span>
                    <span class="span-icon-name"></span>
                </div>
                <div class="group">
                    <input id="email" asp-for="QEmail" type="text" placeholder="Email" />
                    <span asp-validation-for="QEmail"></span>
                    <span class="span-icon-email"></span>
                </div>
            </div>
            <div class="group">
                <textarea id="message" asp-for="Question" type="text" placeholder="Question"></textarea>
                <span asp-validation-for="Question"></span>
                <span class="span-icon-message"></span>
            </div>
            <button type="submit" class="c-sub-2">
                @{
                    if (TempData["QuestionSuccess"] != null)
                    {
                        <span>@TempData["QuestionSuccess"]</span>
                    }
                    else
                    {
                        @:Submit
                    }
                }
            </button>
        </div>
    </section>
}
<script type="module">
    import { initFormValidation } from '/js/formValidationHandler.js'
    initFormValidation();
</script>