<link rel="stylesheet" href="/css/_QuestionForm.css" asp-append-version="true" />

<section class="questionForm">
    <h4>Have a question?</h4>
    <form novalidate>
        <div>
            <input type="text" placeholder="Name" />
            <input type="text" placeholder="Email" />
        </div>
        <textarea type="text" placeholder="Question"></textarea>
        <button type="submit">Submit</button>
    </form>
</section>