
<link href="~/css/_requestFormLarge.css" rel="stylesheet" asp-append-version="true" />
<div class="requestFormLarge">
    <p class="c-label">REQUEST A CALL BACK</p>
    <h2>Let us know about your next project</h2>
    <p class="c-bt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus</p>
    <form novalidate>
        <div class="input-group">
            <input class="" type="text" placeholder="Name" />
            <input type="text" placeholder="Phone" />
            <input type="text" placeholder="Email" />
            <input type="text" hidden />
            <select>
                <option value="" selected>Financial consulting</option>
            </select>
        </div>
        <button class="a-btn req-L c-sub-2" type="submit">Submit</button>
    </form>
</div>