<link href="~/css/_requestForm.css" rel="stylesheet" asp-append-version="true" />


<form class="requestForm">
    <h3>Request a call back</h3>
    <div class="input-group">
        <p class="c-form-p">
            Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
            excepteur sint
            occaecat
        </p>
        <input type="text" placeholder="Name" />
        <input type="text" placeholder="Email address" />
        <input type="text" placeholder="Phone" />
        <input type="text" placeholder="Financial consulting" />
        <button class="c-sub-2" type="submit">Submit</button>
    </div>
</form>