<link rel="stylesheet" href="/css/_supportForm.css" asp-append-version="true" />

<div class="support">
    <img class="support-bg-icon" src="/icon/Mail.svg" />
    <h5 class="support-title">How can we help you?</h5>
    <p class="c-bt support-text">online support 24/7, we are here to help you</p>
    <form novalidate>
        <div class="email-icon">
            <input type="text" placeholder="E-mail address" />
        </div>
    </form>
</div>