<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="29700a73-07c6-4ae9-8c20-9b3f7cf7b81e" Alias="callBacks" Level="2">
  <Info>
    <Name>Call Backs</Name>
    <Icon>icon-phone</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>a2879287-9614-4130-bf1b-35a112886953</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Composition</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="ec77b15a-a8e6-4762-986f-09ca9561e732" SortOrder="0">callbackSubmission</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>