<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3babe03f-0831-4f84-8b8b-c19f5518a51d" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="85b27af9-673c-4a45-9808-68d7ef9f7223">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ff795be7-01a5-43f9-994d-f974796bf157" SortOrder="0">aboutPage</ContentType>
    <ContentType Key="b5bb2a80-3ce5-42ac-ac2c-ee0b7c949c9f" SortOrder="1">contactPage</ContentType>
    <ContentType Key="4f986dfe-bdf8-4e26-93dd-2f2c12b9b935" SortOrder="2">servicePage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>d308f247-4a6a-451b-9de6-c76d8c8a59c9</Key>
      <Name>Block Editor</Name>
      <Alias>blockEditor</Alias>
      <Definition>b6004ae0-75d1-4b44-891b-da6c1e676da1</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0e3a03c7-f243-4aaf-9d44-b7d14a891aa3</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>