<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7a582bfe-ff89-43cc-9fab-1d7d3c13b0b9" Alias="questions" Level="2">
  <Info>
    <Name>Questions</Name>
    <Icon>icon-folders</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>916da7fc-384c-4346-bdad-728021fc0461</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Composition</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="54208035-550c-4eb9-877a-ff4da842c447" SortOrder="0">questionSubmission</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>