<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c095c401-7060-475e-a4fb-48062bdde8c5" Alias="support" Level="2">
  <Info>
    <Name>Support</Name>
    <Icon>icon-multiple-credit-cards</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>39212d52-ee23-412c-895f-a461ec000f09</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Composition</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="c0251d06-9362-4526-8d64-b1ec17b7fb23" SortOrder="0">supportSubmission</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>